<header class="shadow">   

    <div class="m-0 row justify-content-between p-3">
        <img class="cursor logo ml-2" src="/assets/img/logo.svg" alt="Binteraction">  
        <div  class="d-flex  cursor justify-content-center align-items-center mr-3">
            <div (click)="toogleMenu()" class="menu d-flex justify-content-between align-items-center flex-column">             
                <label></label>
                <label></label>
            </div>
        </div>
    </div>        

    <div class="d-block">
        <app-menu *ngIf="menuHeader"></app-menu>    
    </div>
    
</header>
